NEXT_PUBLIC_TRADER_DIARY_URL=
NEXT_PUBLIC_COINMARKETCAP_URL=
NEXT_PUBLIC_SOCIAL_NETWORK_URL=
NEXT_PUBLIC_STREAMING_URL=
NEXT_PUBLIC_AI_ASSISTANT_URL=
NEXT_PUBLIC_PORTFOLIO_URL=
NEXT_PUBLIC_MARKETPLACE_URL=
NEXT_PUBLIC_TRADING_TERMINAL_URL=
NEXT_PUBLIC_AUTH_URL=
NEXT_PUBLIC_AUTH_API=
NEXT_PUBLIC_GA_TRACKING_ID=
NEXT_PUBLIC_TIMER_AUTH=